USE [master]
GO
/****** Object:  Database [Excell-On]    Script Date: 9/3/2021 5:29:51 PM ******/
CREATE DATABASE [Excell-On]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Excell-On', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Excell-On.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Excell-On_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Excell-On_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Excell-On].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Excell-On]
GO
/****** Object:  Table [dbo].[Banking]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreate] [date] NULL,
	[Money] [float] NULL,
	[Deleted] [int] NULL,
	[Status] [int] NULL,
	[OrderId] [int] NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Banking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Company_Name] [varchar](255) NULL,
	[Company_Phone] [varchar](255) NULL,
	[Company_Address] [varchar](255) NULL,
	[Company_Email] [varchar](255) NULL,
	[Company_Description] [text] NULL,
	[Deleted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [varchar](255) NULL,
	[Customer_Phone] [varchar](255) NULL,
	[Customer_Email] [varchar](255) NULL,
	[Customer_UserName] [varchar](255) NULL,
	[Customer_Password] [varchar](255) NULL,
	[CompanyId] [int] NULL,
	[Customer_Comment] [text] NULL,
	[Customer_Avatar] [text] NULL,
	[Customer_Gender] [int] NULL,
	[Deleted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image_link] [text] NULL,
	[ServiceId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyCompany]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NULL,
	[Image] [text] NULL,
	[Description] [varchar](max) NULL,
	[Address] [varchar](255) NULL,
	[TaxIdentificationNumber] [varchar](255) NULL,
	[MyMission] [ntext] NULL,
	[MyVision] [ntext] NULL,
	[MyTarget] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetail_DateStart] [datetime] NULL,
	[OrderDetail_DateEnd] [datetime] NULL,
	[OrderDetail_Status] [int] NULL,
	[OrderDetail_NumberOfPeople] [int] NULL,
	[ServiceId] [int] NULL,
	[OrdersId] [int] NULL,
 CONSTRAINT [PK__OrderDet__3214EC07E231B99A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order_DateCreate] [varchar](50) NULL,
	[Order_Description] [text] NULL,
	[Order_TotalCost] [float] NULL,
	[Order_Status] [int] NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK__Orders__3214EC07AA0285C3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Permission_Name] [varchar](255) NULL,
	[Parent_id] [int] NULL,
	[Key_code] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionRole]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermissionId] [int] NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [varchar](255) NULL,
	[Role_Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Service_Name] [varchar](255) NULL,
	[Service_Price] [float] NULL,
	[Service_Description] [text] NULL,
	[Service_SaleStatus] [int] NULL,
	[Service_Image] [text] NULL,
	[Service_PriceSale] [float] NULL,
	[Deleted] [int] NULL,
 CONSTRAINT [PK__Service__3214EC07433C3329] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Staff_UserName] [varchar](255) NULL,
	[Staff_Password] [varchar](255) NULL,
	[Staff_Email] [varchar](255) NULL,
	[Staff_Gender] [int] NULL,
	[Staff_Age] [int] NULL,
	[Staff_Status] [int] NULL,
	[Staff_Phone] [varchar](50) NULL,
	[Staff_Address] [varchar](255) NULL,
	[Staff_Avatar] [text] NULL,
	[Staff_FullName] [varchar](255) NULL,
	[Staff_AboutMe] [text] NULL,
	[ServiceId] [int] NULL,
	[Deleted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff_OrderDetail]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date_Start] [datetime] NULL,
	[Date_End] [datetime] NULL,
	[Staff_Id] [int] NULL,
	[OrderDetail_Id] [int] NULL,
 CONSTRAINT [PK__Staff_Or__3214EC07959F77E3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInFo]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInFo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [varchar](255) NULL,
	[User_Password] [varchar](255) NULL,
	[User_Email] [varchar](255) NULL,
	[User_Gender] [int] NULL,
	[User_Age] [int] NULL,
	[User_Phone] [varchar](50) NULL,
	[User_Address] [varchar](255) NULL,
	[User_Avatar] [text] NULL,
	[User_FullName] [varchar](255) NULL,
	[User_AboutMe] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 9/3/2021 5:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banking] ON 

INSERT [dbo].[Banking] ([Id], [DateCreate], [Money], [Deleted], [Status], [OrderId], [CustomerId]) VALUES (6, CAST(N'2021-09-01' AS Date), 117370, NULL, 1, 65, 39)
INSERT [dbo].[Banking] ([Id], [DateCreate], [Money], [Deleted], [Status], [OrderId], [CustomerId]) VALUES (7, CAST(N'2021-09-01' AS Date), 79200, NULL, 1, 25, 30)
INSERT [dbo].[Banking] ([Id], [DateCreate], [Money], [Deleted], [Status], [OrderId], [CustomerId]) VALUES (8, CAST(N'2021-09-01' AS Date), 30000, NULL, 1, 26, 30)
SET IDENTITY_INSERT [dbo].[Banking] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([Id], [Company_Name], [Company_Phone], [Company_Address], [Company_Email], [Company_Description], [Deleted]) VALUES (43, N'Company 2', N'0388659966', N'Ton That Thuyet - Ha Noi', N'fptaptech@gmail.com', N'Nothing', NULL)
INSERT [dbo].[Company] ([Id], [Company_Name], [Company_Phone], [Company_Address], [Company_Email], [Company_Description], [Deleted]) VALUES (44, N'Company 2', N'000000002', N'CG-HN', N'company2@gmail.com', N'nothing', NULL)
INSERT [dbo].[Company] ([Id], [Company_Name], [Company_Phone], [Company_Address], [Company_Email], [Company_Description], [Deleted]) VALUES (45, N'Company 3', N'000000003', N'CG-HN', N'company3@gmail.com', N'nothing', NULL)
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [Customer_Name], [Customer_Phone], [Customer_Email], [Customer_UserName], [Customer_Password], [CompanyId], [Customer_Comment], [Customer_Avatar], [Customer_Gender], [Deleted]) VALUES (30, N'Customer 1', N'11111111111', N'huyducle1109@gmail.com', N'customer1', N'$2a$11$KT5f8wxolNdHch9ptCte0ugPf5aLCdi6GU6FQF7UZ53q9HmhqzJwu', 43, N'We are very pleased with the service here. You can have excellent employees without having to spend time searching and recruiting. It''s economical and flexible', N'/Public/Image/th (4).jfif', 0, 1)
INSERT [dbo].[Customer] ([Id], [Customer_Name], [Customer_Phone], [Customer_Email], [Customer_UserName], [Customer_Password], [CompanyId], [Customer_Comment], [Customer_Avatar], [Customer_Gender], [Deleted]) VALUES (31, N'Customer 2', N'000000002', N'dothivanlinh@fpt.edu.vn', N'customer2', N'$2a$11$fKjFur.vGLQfb7DzQTgm2u5a0.CFH33uxxkWLH.8X57wZm/uzwbSy', 44, N'Great. I have hired many services here and am completely satisfied with the work and professionalism of the staff at Excel On. The price is also very reasonable', N'/Public/Image/user2.png', 0, NULL)
INSERT [dbo].[Customer] ([Id], [Customer_Name], [Customer_Phone], [Customer_Email], [Customer_UserName], [Customer_Password], [CompanyId], [Customer_Comment], [Customer_Avatar], [Customer_Gender], [Deleted]) VALUES (32, N'Customer 3', N'000000003', N'hauphan040@gmail.com', N'customer3', N'$2a$11$fKjFur.vGLQfb7DzQTgm2u5a0.CFH33uxxkWLH.8X57wZm/uzwbSy', 45, N'If you are a busy person, come here. I think this is the best solution for you to save time and money for your company.', N'/Public/Image/user4.png', 0, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([Id], [Image_link], [ServiceId]) VALUES (21, N'/Public/Image/about.jpg', 2)
INSERT [dbo].[Image] ([Id], [Image_link], [ServiceId]) VALUES (22, N'/Public/Image/about2.jpg', 2)
INSERT [dbo].[Image] ([Id], [Image_link], [ServiceId]) VALUES (23, N'/Public/Image/blog1.jpg', 2)
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[MyCompany] ON 

SET IDENTITY_INSERT [dbo].[MyCompany] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [OrderDetail_DateStart], [OrderDetail_DateEnd], [OrderDetail_Status], [OrderDetail_NumberOfPeople], [ServiceId], [OrdersId]) VALUES (27, CAST(N'2021-08-05T00:00:00.000' AS DateTime), CAST(N'2021-08-10T00:00:00.000' AS DateTime), 3, 10, 1, 1)
INSERT [dbo].[OrderDetail] ([Id], [OrderDetail_DateStart], [OrderDetail_DateEnd], [OrderDetail_Status], [OrderDetail_NumberOfPeople], [ServiceId], [OrdersId]) VALUES (28, CAST(N'2021-08-06T00:00:00.000' AS DateTime), CAST(N'2021-08-12T00:00:00.000' AS DateTime), 3, 20, 1, 2)
INSERT [dbo].[OrderDetail] ([Id], [OrderDetail_DateStart], [OrderDetail_DateEnd], [OrderDetail_Status], [OrderDetail_NumberOfPeople], [ServiceId], [OrdersId]) VALUES (29, CAST(N'2021-08-20T00:00:00.000' AS DateTime), CAST(N'2021-08-30T00:00:00.000' AS DateTime), 2, 3, 1, 3)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Order_DateCreate], [Order_Description], [Order_TotalCost], [Order_Status], [CustomerId]) VALUES (1, N'August/03/2021', N'abc', 0, 3, 30)
INSERT [dbo].[Orders] ([Id], [Order_DateCreate], [Order_Description], [Order_TotalCost], [Order_Status], [CustomerId]) VALUES (2, N'August/03/2021', N'abc', 831600, 3, 31)
INSERT [dbo].[Orders] ([Id], [Order_DateCreate], [Order_Description], [Order_TotalCost], [Order_Status], [CustomerId]) VALUES (3, N'August/04/2021', N'abc', 133650, 2, 32)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([Id], [Permission_Name], [Parent_id], [Key_code]) VALUES (1, N'Customer', 0, NULL)
INSERT [dbo].[Permission] ([Id], [Permission_Name], [Parent_id], [Key_code]) VALUES (2, N'Customer_List', 1, N'List')
INSERT [dbo].[Permission] ([Id], [Permission_Name], [Parent_id], [Key_code]) VALUES (3, N'Customer_Add', 1, N'Add')
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[PermissionRole] ON 

INSERT [dbo].[PermissionRole] ([Id], [PermissionId], [RoleId]) VALUES (83, 12, 16)
INSERT [dbo].[PermissionRole] ([Id], [PermissionId], [RoleId]) VALUES (84, 13, 16)
INSERT [dbo].[PermissionRole] ([Id], [PermissionId], [RoleId]) VALUES (85, 14, 16)
GO
SET IDENTITY_INSERT [dbo].[PermissionRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Role_Name], [Role_Description]) VALUES (13, N'Admin', N'nothing')
INSERT [dbo].[Role] ([Id], [Role_Name], [Role_Description]) VALUES (15, N'HR department', N'none')
INSERT [dbo].[Role] ([Id], [Role_Name], [Role_Description]) VALUES (16, N'Service department', N'none')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [Service_Name], [Service_Price], [Service_Description], [Service_SaleStatus], [Service_Image], [Service_PriceSale], [Deleted]) VALUES (1, N'In-bounds', 4500, N'The In-bound service is a service in which one can only receive the calls from the customers. These call centers provide 24 hours service to all customers. The primary goal of these call centers are to receive product orders, help customers both technically and non-technically, to find dealer location.', 1, N'/Public/Image/bg5.jpg', 4300, NULL)
INSERT [dbo].[Service] ([Id], [Service_Name], [Service_Price], [Service_Description], [Service_SaleStatus], [Service_Image], [Service_PriceSale], [Deleted]) VALUES (3, N'Tele Marketing', 5500, N'The Tele Marketing service is a service which is purely for the promotion of marketing or sales of the products and services.', 1, N'/Public/Image/95-telemarketing.jpg', 5300, NULL)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff_OrderDetail] ON 

INSERT [dbo].[Staff_OrderDetail] ([Id], [Date_Start], [Date_End], [Staff_Id], [OrderDetail_Id]) VALUES (31, CAST(N'2021-08-20T00:00:00.000' AS DateTime), CAST(N'2021-08-30T00:00:00.000' AS DateTime), 188022, 29)
INSERT [dbo].[Staff_OrderDetail] ([Id], [Date_Start], [Date_End], [Staff_Id], [OrderDetail_Id]) VALUES (32, CAST(N'2021-08-20T00:00:00.000' AS DateTime), CAST(N'2021-08-30T00:00:00.000' AS DateTime), 188023, 29)
INSERT [dbo].[Staff_OrderDetail] ([Id], [Date_Start], [Date_End], [Staff_Id], [OrderDetail_Id]) VALUES (33, CAST(N'2021-08-20T00:00:00.000' AS DateTime), CAST(N'2021-08-30T00:00:00.000' AS DateTime), 188024, 29)
GO
SET IDENTITY_INSERT [dbo].[Staff_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInFo] ON 

INSERT [dbo].[UserInFo] ([Id], [User_Name], [User_Password], [User_Email], [User_Gender], [User_Age], [User_Phone], [User_Address], [User_Avatar], [User_FullName], [User_AboutMe]) VALUES (4, N'huyduc', N'$2a$11$eBGTxTHVjaYTGWOq5DyMVO2eQ6ejhbJCCtfgUCBhmohK0RDTIRPIK', N'huyducle1109@gmail.com', 0, 20, N'0961503893', N'CG-HN', N'/Public/Image/a10.jfif', N'Le Huy Duc', N'nothing.........................................................................')
INSERT [dbo].[UserInFo] ([Id], [User_Name], [User_Password], [User_Email], [User_Gender], [User_Age], [User_Phone], [User_Address], [User_Avatar], [User_FullName], [User_AboutMe]) VALUES (5, N'CEO', N'$2a$11$SNEkb5fXx0TUKGKQvPjDo.KJpjxf6UfM9flZfxRB6V.i/rDcDJfni', N'hauphan040@gmail.com', 1, 20, N'0384896044', N'CG-HN', N'/Public/Image/user5.png', N'Phan Thi Hau', N'none')
INSERT [dbo].[UserInFo] ([Id], [User_Name], [User_Password], [User_Email], [User_Gender], [User_Age], [User_Phone], [User_Address], [User_Avatar], [User_FullName], [User_AboutMe]) VALUES (6, N'Manager', N'$2a$11$.SLGn4vOouxI.ftf8Hbei.PxEhZY6R72JLO0YWiK.7dXjPexRR5oi', N'Manager123@gmail.com', 1, 23, N'0988776655', N'HBT - HN', N'/Public/Image/a17.jfif', N'Nguyen Thu Huyen', N'nothing')
SET IDENTITY_INSERT [dbo].[UserInFo] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId]) VALUES (3, 4, 13)
INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId]) VALUES (16, 5, 21)
INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId]) VALUES (17, 6, 22)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_Customer_Avatar]  DEFAULT ('~/Public/Image/avt.png') FOR [Customer_Avatar]
GO
ALTER TABLE [dbo].[UserInFo] ADD  CONSTRAINT [DF_UserInFo_User_Avatar]  DEFAULT ('~/Public/Image/avt.png') FOR [User_Avatar]
GO
ALTER TABLE [dbo].[Banking]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Banking]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__6319B466] FOREIGN KEY([OrdersId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Order__6319B466]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Servi__6225902D] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Servi__6225902D]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Customer__5F492382] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Customer__5F492382]
GO
ALTER TABLE [dbo].[PermissionRole]  WITH CHECK ADD FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permission] ([Id])
GO
ALTER TABLE [dbo].[PermissionRole]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[Staff_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__Staff_Ord__Order__7720AD13] FOREIGN KEY([OrderDetail_Id])
REFERENCES [dbo].[OrderDetail] ([Id])
GO
ALTER TABLE [dbo].[Staff_OrderDetail] CHECK CONSTRAINT [FK__Staff_Ord__Order__7720AD13]
GO
ALTER TABLE [dbo].[Staff_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__Staff_Ord__Staff__762C88DA] FOREIGN KEY([Staff_Id])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Staff_OrderDetail] CHECK CONSTRAINT [FK__Staff_Ord__Staff__762C88DA]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInFo] ([Id])
GO
USE [master]
GO
