@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--//header-->
<!-- inner banner -->
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">About Us</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="~/Home/Index">Home</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>About Us</li>
            </ul>
        </div>
    </section>
</div>
<!-- //inner banner -->
<!-- about section -->
<section class="about-section py-5">
    <div class="container py-lg-5 pt-3">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="about-single p-3 d-flex justify-content-between">
                    <div class="about-icon mr-4">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3">Any Questions</h5>
                        <p>
                            Excell-On boasts a young, dynamic, professional and qualified customer service staff.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-single p-3 d-flex justify-content-between">
                    <div class="about-icon mr-4">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3">Online Support</h5>
                        <p>
                            Always online to take care of customers in the best way.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-single p-3 d-flex justify-content-between">
                    <div class="about-icon mr-4">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3">24/7 Call Center</h5>
                        <p>
                            As long as customers want, we are always there.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!-- about-2 section -->
<section class="w3l-about-2 pb-5">
    <div class="container pb-md-5 pb-4">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 about-2-secs-left pr-lg-5">
                <h3 class="title-style mb-sm-3 mb-2">Few Words About Us!</h3>
                <p>
                    Excell-on Consulting Services (ECS) helps organizations develop innovative business and commerce strategies and solutions. These solutions allow their (organizations, say clients of Excell-on Consulting Services) customers to capitalize on new technologies to create innovative products and services for the economy. Their consulting team stays focused on defining, optimizing, and aligning their client’s business and IT strategies.
                </p>
                <ul class="list-about-2 mt-sm-4 mt-3">
                    <li class="py-1">
                        <i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>The deepest desire of the customer
                    </li>
                    <li class="py-2">
                        <i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>Emphasis on the highest standards
                    </li>
                    <li class="py-1">
                        <i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>Hire and develop the best
                    </li>
                </ul>
                <div class="mt-4">
                    <a class="btn btn-style-white btn-style-primary" href="~/Home/Service">View Our Services</a>
                </div>
            </div>
            <div class="col-lg-6 about-2-secs-right mt-lg-0 mt-5">
                <img src="~/Public/assets/images/about2.jpg" alt="" class="img-fluid img-responsive" />
            </div>
        </div>
    </div>
</section>
<!-- //about-2 section -->
<!-- team section -->


