@using _ExcellOn_.Models
@model IEnumerable<Company>

<section class="w3l-content-11-main">
    <div class="content-design-11 py-5">
        <div class="container py-md-5 py-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-sm-5 mb-4">
                        <h3 class="title-style mb-2">User experience</h3>
                        <p class="lead">
                            We are cooperated and trusted by leading partner companies in the world
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-sec-11">
              
                <div class="row">
                    @foreach (var i in Model)
                    { 
                        <div class="col-lg-4 col-md-6">
                            <div class="services-single d-flex p-sm-5 p-4">
                                <div class="service-icon mr-sm-4 mr-3">
                                    <span class="fa fa-headphones" aria-hidden="true"></span>
                                </div>
                                <div class="services-content">
                                    <h5><a href="#">@i.Company_Name</a></h5>
                                    <p style=" margin: 0 0 10px; font-size: 14px; font-weight: 400; color: #666; display: block; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 8; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; text-align: center;">
                                        @i.Company_Description
                                    </p>
                                    <a href="#services" class="btn read-button d-flex align-items-center mt-4 p-0">
                                        Read
                                        More<i class="fa fa-angle-double-right ml-1" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        }

                </div>
                   
            </div>
        </div>
        
    </div>
</section>
