
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>form_search</title>
</head>
<body>
    <div>
        <form method="post" action="/Admin/OrderManagement/Search">
            <label>Date_Start</label>
            <input name="Date_Start" type="date" />
            <label>Date_End</label>
            <input type="date" name="Date_End" />
            <label>Service_Id</label>
            <input name="Service_Id" type="number" />
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>
